<div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i style="width: 1rem;" class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
        <form action="">
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <p class="pt-1">
                        <strong>Sign up for our newsletter</strong>
                    </p>
                </div>

                <div class="col-md-5 col-12">
                    <!-- Email input -->
                    <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example21" class="form-control pl-2" placeholder="Email address"/>
                    </div>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-light mb-4">Subscribe</button>
                </div>
            </div>
        </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
        <h6 class="display-6"><img routerLink="" class="logo mx-2" src="assets/images/logo.png" style="height: 100px; width: 150px;" alt="logo">CarLo: Your Go-To Car Rental Service</h6>
        <p class="description">
            CarLo offers seamless car rental solutions, providing you with the keys to your next adventure. From compact cars to roomy SUVs, we have the perfect ride for any journey. With competitive rates and a user-friendly booking process, CarLo is your ticket to hassle-free travel. Start your adventure today with CarLo and experience the freedom of the open road.
        </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">About CarLo</h6>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">About</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Careers With Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Corporate Policies</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Investors</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">FAQs</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">connect with us</h6>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Feedback</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Contact Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Advertisw with us</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">Others</h6>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Health Insurance</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Term Insurance</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Life Insurance</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Personal Loan</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">Download our App</h6>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white"><img class="store-logo" src="assets/images/play-store.png" alt="play-store"></a>
                    </li>
                    <li>
                        <a href="#!" class="text-white"><img class="store-logo" src="assets/images/app-store.png" alt="app-store"></a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
    </section>
    <!-- Section: Links -->
</div>
<hr class="text-white">
<div class="text-center pb-3">© 2023 Copyright : 
    <a class="text-white" routerLink="">CarLo.com</a>
</div>